Финальный Проект
---

Пожалуйста, создайте пакет **education**, который содержит следующие модули:

1. users
2. organizations

Когда вы запускаете пакет напрямую, он должен показывать все модули, указанные в пакете.

## Описание модулей приведено ниже:

### Модуль **users** должен содержать классы **Human, Student(Human), Teacher(Human)**.

1. Класс **Human** должен содержать следующую информацию: имя, фамилию, возраст, пол, национальность, а также способы задания этой информации.
 
>``` 
> h1 = Human(name="John", familyname="Wick", age=35, gender="male", nationality="USA")
> ``` 

Список методов:
> ```
set_name()
set_family()
set_age()
set_gender()
set_nationality()
get_info() # возвращает словарь с личной информацией об объекте
> ```

2. Класс **Student** - это детский класс класса Human. Он должен содержать следующую информацию о каждом студенте: имя, фамилия, возраст, пол, национальность, название школы или университета, список предметов и соответствующие методы для установки этой информации.


Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет в список предметов
> ```


3. Класс **Teacher** - это детский класс класса Human. Он должен содержать следующую информацию о каждом преподавателе: имя, фамилия, возраст, пол, национальность, название школы или университета, предмет преподавания и соответствующие методы для установки этой информации.

Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет преподаваемый учителем
> ```

* При непосредственном запуске модуля **users** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Модуль **organizations** должен содержать класс **School**.

Класс **School** должен содержать следующую информацию: название или номер школы, адрес школы, номер телефона школы, электронный адрес учебного заведения, количество учеников, количество учителей, а также способы задания этой информации.
 
 
>``` 
> s1 = School(name="NIS", address="Astana, Kazakhstan", phone="999999", num_stud=1000, num_teachers=50)
> ``` 

Список методов:
> ```
set_name()
set_address()
set_phone()
set_email()
set_num_stud()
set_num_teachers()
add_student()
add_teacher()
get_info() # возвращает словарь с информацией про школу без личной информации студентов / преподавателей
get_report() # создает отчет (файл "csv") с информацией о школе и о каждом ученике, а также о преподавателе в этой школе. 
> ```

**Пожалуйста, сделайте правильный формат файла CSV (который вы считаете наиболее понятным)**

* При непосредственном запуске модуля **organizations** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Что делать в jupyter notebook?

В этом jupyter notebook, пожалуйста, проверьте все функциональные возможности вашего пакета. Как минимум создайте 2-3 школы, в каждой школе должно быть не менее 10 учеников (с разной информацией), а также как минимум 2 учителя разных предметов и личной информации. **Личная информация этих учеников, учителей и школ не должна быть правдивой (просто выдумайте).**

**Пожалуйста, заархивируйте пакет и данный jupyter notebook вместе и отправьте архивный файл.**

In [1]:
# Ваш код:
from education.users import *
from education.organizations import *

You are running the education package
Users module is imported
Organizations module is imported

In [2]:
# Создаем две школы
school_1 = School(name="Red Queen School", 
                  adress="Vashingtom, USA", 
                  email = 'stranachudes@Alisa.gg', 
                  phone="999999", num_stud=0, num_teachers=0)

school_2 = School(name="Zoo", 
                  adress="Lionaria, Madagaskar", 
                  email = 'lionariaschool@madagaskar.mm', 
                  phone="777777", num_stud=0, num_teachers=0)

In [3]:
# Добавляем учеников в первую школу
school_1.add_student(name="Alisa", familyname="Happy", age=7, gender="girl", nationality="USA", 
                     school="Red Queen School", subject= ['Math', 'Physics'])
school_1.add_student(name="Cat", familyname="Cheshire", age=10, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Biology'])
school_1.add_student(name="Gallant", familyname="Hatter", age=35, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Physics'])
school_1.add_student(name="Griffin", familyname="Lion", age=15, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Story'])
school_1.add_student(name="Turtle", familyname="Quasi", age=18, gender="girl", nationality="USA", 
                     school="Red Queen School", subject= ['Geography'])
school_1.add_student(name="Rabbit", familyname="March", age=7, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Physics'])
school_1.add_student(name="Sonya", familyname="Sleep", age=8, gender="girl", nationality="USA", 
                     school="Red Queen School", subject= ['Biology'])
school_1.add_student(name="Jack", familyname="Black", age=18, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Story'])
school_1.add_student(name="Jacker", familyname="Black", age=18, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Story'])
school_1.add_student(name="Jocer", familyname="Black", age=18, gender="boy", nationality="USA", 
                     school="Red Queen School", subject= ['Story'])

# Добавляем учителей в первую школу
school_1.add_teacher(name='Caterpillar', familyname='Blue', age='110', gender='girl', nationality='Turkey', 
                     school='Red Queen School', subject=['Biology', 'Physics','Geography'])
school_1.add_teacher(name='Queen', familyname='Red', age='70', gender='girl', nationality='USA', 
                     school='Red Queen School', subject=['Story', 'Math'])

In [4]:
# Добавляем учеников во вторую школу
school_2.add_student(name="Alex", familyname="Lion", age=16, gender="boy", nationality="Africa", 
                     school="Zoo", subject= ['Math'])
school_2.add_student(name="Marty", familyname="Zebra", age=14, gender="boy", nationality="Africa", 
                     school="Zoo", subject= ['Biology'])
school_2.add_student(name="Melman", familyname="Jiraff", age=11, gender="boy", nationality="Africa", 
                     school="Zoo", subject= ['Physics'])
school_2.add_student(name="Julien", familyname="Ring-tailed lemur", age=18, gender="boy", nationality="Madagaskar", 
                     school="Zoo", subject= ['Story'])
school_2.add_student(name="Gloria", familyname="Hippopotamus", age=14, gender="girl", nationality="Africa", 
                     school="Zoo", subject= ['Geography'])
school_2.add_student(name="Maurice", familyname="Asistent", age=11, gender="boy", nationality="Madagaskar", 
                     school="Zoo", subject= ['Physics'])
school_2.add_student(name="Mort", familyname="Mouse lemur", age=8, gender="girl", nationality="Madagaskar", 
                     school="Zoo", subject= ['Biology'])
school_2.add_student(name="Rico", familyname="Pingvinus", age=11, gender="boy", nationality="Arctica", 
                     school="Zoo", subject= ['Story'])
school_2.add_student(name="Mason", familyname="Primatus", age=9, gender="boy", nationality="Tayland", 
                     school="Zoo", subject= ['Himiya'])
school_2.add_student(name="Phil", familyname="Primatus", age=10, gender="boy", nationality="Tayland", 
                     school="Zoo", subject= ['Physics'])

# Добавляем учителей во вторую школу
school_2.add_teacher(name='Kowalski', familyname='Pingvin', age='20', gender='boy', nationality='Arktika', 
                     school='Zoo', subject=['Geography', 'Himiya'])
school_2.add_teacher(name='Nana', familyname='Granny', age='90', gender='girl', nationality='USA', 
                     school='Zoo', subject=['Story', 'Math'])
school_2.add_teacher(name='Shkipper', familyname='Pingvinovich', age='22', gender='boy', nationality='Arktika', 
                     school='Zoo', subject=['Biology', 'Physics'])

In [5]:
school_1.num_stud

10

In [6]:
school_2.num_stud

10

In [7]:
school_1.num_teachers

2

In [8]:
school_2.num_teachers

3

In [9]:
school_1.name, school_1.phone, school_1.email

('Red Queen School', '999999', 'stranachudes@Alisa.gg')

In [10]:
school_2.get_info()

{'Name': 'Zoo',
 'Adress': 'Lionaria, Madagaskar',
 'Phone': '777777',
 'Email': 'lionariaschool@madagaskar.mm',
 'Number of student': 10,
 'Number of teachers': 3}

In [11]:
school_2.list_stud[0].get_info()

{'name': 'Alex',
 'familyname': 'Lion',
 'age': 16,
 'gender': 'boy',
 'nationality': 'Africa',
 'school': 'Zoo',
 'subject': ['Math']}

In [12]:
school_2.list_stud[0].add_subject('Physics')
school_2.list_stud[0].get_info()

{'name': 'Alex',
 'familyname': 'Lion',
 'age': 16,
 'gender': 'boy',
 'nationality': 'Africa',
 'school': 'Zoo',
 'subject': ['Math', 'Physics']}

In [13]:
school_2.list_stud[0].add_subject('Math')
school_2.list_stud[0].get_info()

{'name': 'Alex',
 'familyname': 'Lion',
 'age': 16,
 'gender': 'boy',
 'nationality': 'Africa',
 'school': 'Zoo',
 'subject': ['Math', 'Physics']}

In [14]:
school_1.list_teachers[0].add_subject('Math')
school_1.list_teachers[0].get_info()

{'name': 'Caterpillar',
 'familyname': 'Blue',
 'age': '110',
 'gender': 'girl',
 'nationality': 'Turkey',
 'school': 'Red Queen School',
 'subject': ['Geography', 'Math', 'Biology', 'Physics']}

In [15]:
school_2.list_teachers[2].name, school_2.list_teachers[2].familyname, school_2.list_teachers[2].age, school_2.list_teachers[2].gender, school_2.list_teachers[2].nationality, school_2.list_teachers[2].school

('Shkipper', 'Pingvinovich', '22', 'boy', 'Arktika', 'Zoo')

In [16]:
school_1.list_stud[6].name, school_1.list_stud[6].familyname, school_1.list_stud[6].age, school_1.list_stud[6].gender, school_1.list_stud[6].nationality, school_1.list_stud[6].school

('Sonya', 'Sleep', 8, 'girl', 'USA', 'Red Queen School')

In [17]:
school_1.get_report()

In [18]:
school_2.get_report()